<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="p-3">新規会員登録</h2>

    <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="row d-flex justify-content-center">
      <div class="field">
        <%= f.label :name, "名前" %><br>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="field">
        <%= f.label :nick_name, "ニックネーム" %><br>
        <%= f.text_field :nick_name %>
      </div>
    </div>
  
      <div class="field">
        <%= f.label :furigana_name, "フリガナ" %><br>
        <%= f.text_field :furigana_name %>
      </div>
  
      <div class="field">
        <%= form_with model: @user do |f| %>
          <%= f.label :sex, "性別" %>
          <%= f.radio_button :sex, "male" %> 男性
          <%= f.radio_button :sex, "female" %> 女性
        <% end %>
        <br>
      </div>
  
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
  
        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
  
        <div class="field">
          <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
  
        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      </div>
    <% end %>
  </div>

    <div class="row d-flex justify-content-center my-4">
        <h6 class="">既に登録済みの方は<%= render "devise/shared/links" %></h6>
    </div>

</div>
