<div class="container">
  <div class="main-text">
    <div class="d-flex justify-content-center">
      <h2 class="d-inline-block p-3 my-3">
        This is Portfolio Site.
      </h2>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag asset_path('sample1.jpg'), alt: '' %>
      </div>
      
      <div class="swiper-slide">
        <%= image_tag asset_path('sample2.jpg'), alt: '' %>
      </div>
      
      <div class="swiper-slide">
        <%= image_tag asset_path('sample4.jpg'), alt: '' %>
      </div>
      
      <div class="swiper-slide">
        <%= image_tag asset_path('sample5.jpg'), alt: '' %>
      </div>
      
      <div class="swiper-slide">
        <%= image_tag asset_path('sample11.jpg'), alt: '' %>
      </div>
      
      <div class="swiper-slide">
        <%= image_tag asset_path('sample13.jpg'), alt: '' %>
      </div>
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
    <!-- 前後の矢印 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  
  <script>
    const swiper = new Swiper(".swiper", {
    loop: true, // ループ
    speed: 2000, // デフォルト300
    autoplay: { // 自動再生
      delay: 1000, // 1秒後に次のスライド
      disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
    },
    // ページネーション
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    // 前後の矢印
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  </script>
  
  
</div>