<div class="container">
  <div class="row">
    <!--スライドショーの枠組み-->
    <div class="slideshow-container">
      <!--各スライド-->
      <div class="slide fade">
        <%= image_tag "top/sample1.jpg" %>
      </div>
      <div class="slide fade">
        <%= image_tag "top/sample5.jpg" %>
      </div>
      <div class="slide fade">
        <%= image_tag "top/sample13.jpg" %>
      </div>
      <div class="slide fade">
        <%= image_tag "top/sample14.jpg" %>
      </div>
      <div class="slide fade">
        <%= image_tag "top/sample7.jpg" %>
      </div>
    </div>
  </div>
</div>