<!--全会員の投稿一覧-->
<h1>投稿一覧</h1>

<% @post.each do |post| %>
  <div>
    <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
    <p>ユーザーネーム：<%= post.user.name %></p>
    <%= link_to post_path(post_.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>タイトル：<%= post.title %></p>
  </div>
<% end %>