<!--全会員の投稿一覧-->
<h1>全会員の投稿一覧</h1>

<% @posts.each do |post| %>
  <tr>
    <!--ユーザープロフィール画像-->
    <td><%= image_tag post.user.get_top_image_url(100,100) %></td>
    <td>ユーザーネーム：<%= post.user.name %></td>
    <!--投稿画像-->
    <td>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    </td>
    <td>タイトル：<%= post.title %></td>
  </tr>
<% end %>