<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="p-3 my-3">
      マイページ
    </h5>
  </div>

    <!--ユーザーがサインインの場合-->
    <% if user_signed_in? && @user == current_user %>
      <!--ユーザーの詳細-->
      <div class="d-flex justify-content-center">
        <h4><%= @user.name %></h4>
        <%= image_tag @user.get_top_image_url(100,100) %>
        <!--ゲストユーザーかどうかの判別-->
          <% unless @user.guest_user? %>
            <div>
              <%= link_to edit_user_path(@user),class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i> Edit
              <% end %>
            </div>
          <% end %>
      </div>
    <% end %>
   
   <!-- ユーザーの投稿一覧 -->
  <% @post.each do |post| %>
    <div>
      <!--プロフィール画像-->
      <tr><%= image_tag post.user.get_top_image_url(20,20) %></tr>
      <!--ユーザーネーム-->
      <tr><%= post.user.name %></tr>
    </div>
      <!--投稿画像-->
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image, size: '300x250' %>
      <% end %>
      
    
  <% end %>
</div>