<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="p-3 my-3">
      投稿編集画面
    </h5>
  </div>
  
  <div class="row d-flex justify-content-center">
  <%= form_with model: @post do |f| %>
    <tr>
      <td>投稿画像</td>
      <td><%= f.file_field :image, accept: "image/*", class: "rounded" %></td>
    </tr>
    <tr>
      <td>タイトル</td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td>本文</td>
      <td><%= f.text_area :text %></td>
    </tr>
  
    <%= f.submit '保存' %>
    
  <% end %>
  </div>
</div>