<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="d-inline-block border p-3 my-3">
      新規投稿
    </h2>
  </div>

  <div class="d-flex justify-content-center">

 　  <%= form_with model: @post, local: true do |f| %>
      <table class="table table-borderless">
        <!--imageの入力フォーム-->
        <tr>
          <td>投稿画像</td>
          <td><%= f.file_field :image, accept: "image/*", class: "rounded" %></td>
        </tr>
        <!--titleの入力フォーム-->
        <tr>
          <td>タイトル</td>
          <td><%= f.text_field :title, placeholder: "タイトル名", class: "rounded", style: "width:100%" %></td>
        </tr>
        <!--textの入力フォーム-->
        <tr>
          <td>投稿内容</td>
          <td><%= f.text_area :text, style: "width:100%", rows: "9", placeholder: "ここに投稿文を記述します", class: "rounded" %></td>
        </tr>
        <!--投稿ボタン-->
        <tr>
          <td><%= f.submit "新規投稿", class:"btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>