<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="p-3 my-3">
      新規投稿
    </h5>
　</div>

  <div class="row d-flex justify-content-center">
  

 　  <%= form_with model: @post, local: true do |f| %>
      <table class="table table-borderless">
        <!--imageの入力フォーム-->
        <tr>
          <td>投稿画像</td>
          <td><%= f.file_field :image, accept: "image/*", class: "rounded" %></td>
        </tr>
        <!--titleの入力フォーム-->
        <tr>
          <td>タイトル</td>
          <td><%= f.text_field :title, placeholder: "タイトル名", class: "rounded" %></td>
        </tr>
        <!--textの入力フォーム-->
        <tr>
          <td>投稿内容</td>
          <td><%= f.text_area :text, style: "width:70%", rows: "5", placeholder: "ここに投稿文を記述します", class: "rounded" %></td>
        </tr>
        <!--タグ入力フォーム-->
        <tr>
          <td><%= f.label :tag_list, "タグリスト" %></td>
          <td><%= f.text_field :tag_list, class: "rounded" %></td>
        </tr>
        <!--投稿ボタン-->
        <tr class="row d-flex justify-content-center">
          <td><%= f.submit "新規投稿", class:"btn btn-success" %></td>
        </tr>
    </table>
    <% end %>
    </div>
  </div>
</div>