<!--投稿詳細-->
<div>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>

  <p>ユーザーネーム：<%= post.user.name %></p>

  <h2>画像</h2>
  <%= link_to image_tag post.image, post_path(post.id), size: "300x300" %>

  <h2>タイトル</h2>
  <p><%= @post.title %></p>

  <h2>本文</h2>
  <p><%= @post.text %></p>

  <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
  
  <h2>タグ</h2>
  <!-- タグリスト -->
  <% @posttags.each do |tag| %>
     <i class="fa-sharp fa-solid fa-tag"></i>
  　  <%= link_to tag.name,search_tag_path_tag_id: tag.id) %>    
  <% end %>
  <!--いいね機能-->
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorite_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorite_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  <!--編集、削除ボタン-->
  <% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(@post.id) %>
    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>
<!--コメント機能-->
<div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_top_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post,comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>