<!--ヘッダー-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d1b3aa;">
    <div class="container">
      <a class="navbar-brand" href="/">HapiNail</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', users_my_page_path, class: 'nav-link text-light m-2' %>
            </li>

            <li class="nav-item">
              <%= link_to "新規投稿", new_post_path, class: 'nav-link text-light m-2' %>
            </li>

            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light m-2' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "投稿一覧", admin_items_path, class: 'nav-link text-light m-2' %>
            </li>
          
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-light m-2' %>
            </li>
          
             <li class="nav-item">
              <%= link_to "タグ一覧", admin_genres_path, class: 'nav-link text-light m-2' %>
            </li>
          
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light m-2' %>
            </li>
          <% else %>
             <li class="nav-item">
              <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path,, method: :post, class: 'nav-link text-light m-2' %>
            </li>
          
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-light m-2' %>
            </li>
                
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-light m-2' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>